<% provide(:title, "About") %>
<h1>About</h1>
<p>
<%= "#{app_name}" %> is a Ruby on Rails application implemented by <%= link_to "Kamron Hays", "https://github.com/Kamron-Hays" %> as part of <%= link_to "The Odin Project", "https://www.theodinproject.com" %> curriculum.
</p>
<small>
Views, thoughts, and opinions expressed on <%= "#{app_name}" %> belong solely to the associated author, and not necessarily to <%= "#{app_name}" %>, its creator, or any associated <%= "#{app_name}" %> entities, or any other group or individual, either living, dead, or imaginary.
Your mileage may vary.
Toes go in first.
</small>
